
.mar{
    margin: 21rem;
    
}
.mar2{
    margin-left: 30rem;
    margin-bottom: 5rem;
    align-items: end;
    text-align: justify;
}

.head{
    font-size: 5rem;
    font-weight: 1200;
    color: white;
}

.ser{
    height: 20rem;
    /* width: 10rem; */
}

.size{
    font-size: 3rem;
    font-weight: 800;
}



@media screen  and (max-width:768px) {
    .right a,i{
        display: none;
    }
    .icon{
        display: none;
    }
    .btn1{
        display: none;
    }
}